

header {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.logo {
    width: 275px;
    max-width: 75%;
    position: relative;
    z-index: 100;
}
.header-wrap {
    text-align: center;
    background: #FFF;
    border-top: 25px solid #000;
    height: 100px;
}
@media only screen and (min-width: 1024px) {
    header {
        height: auto;
    }
    .header-wrap {
        text-align: inherit;
    }
    .logo {
        width: 225px;
    }
}


.wrapper {
    margin-bottom: 100px;
}
.checkout {
    padding-top: 250px;
}
h1 {
    font-size: 36px;
    text-align: center;
}
.checkout input {
    display: block;
    width: 99%;
    height: 75px;
    line-height: normal;
    text-indent: 15px;
    margin: 25px 0;
    padding: 0;
    color: #000;
    font-size: 30px;
}
#submit-btn {
    display: none;
}
.step-wrap {
    position: relative;
    margin: 50px 0;
    overflow: hidden;
}
.border {
    border-top: 10px solid #F00;
    border-right: 10px solid transparent;
    width: 25%;
    position: relative;
}
.step {
    border-top: 1px solid #B7B7B7;
    position: relative;
    bottom: 1px;
    z-index: -1;
    color: #909090;
    padding-top: 5px;
}


footer {
    background: #000;
    color: #FFF;
    padding: 50px 0 25px;
}
.footer-btn {
    width: 100%;
    display: block;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}
.cont {
    background: #EA0A2A;
    font-size: 30px;
    padding: 20px 0;
}
.back {
    color: #FFF;
    font-size: 18px;
    margin: 20px 0;
    font-style: italic;
}
@media only screen and (min-width: 768px) {
    
}
